
.page-content {
    background-color: #ddd;
}

#btn-vote {
    width: 96%;
    margin: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
  
}

.election-login{
    background-color: #fff;
}

#btn-sign-in {
    width: 50%;
    margin: 16px auto 16px auto;
    box-sizing: border-box;
    alignment-adjust:central; 
}

