
.page-content {
    background-color: #ddd;
}

#btn-vote {
    width: 96%;
    margin: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.election-login{
    background-color: #fff;
}
